<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Qube Measuring Enviroment</title>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
	<link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">
</head>

<body id="grad">
	<div class="jumbotron">
		<h1 class="text-center">Welcome to Qube Measuring Enviroment</h1>
	</div>
	<div class="container text-center">
		<div class="stanewmeas">
		<button type = "button" class="button yellowButton"
		   role="button" id="reset"><a href="/basicinfo">Start new <br> measurement</a>
		</div>
	</div>

</body>
</html>
