
<!DOCTYPE html>

<html>

<head>
  <title>Mittalaitteen ohjeet</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/UIstyle.css">
  <link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
  <link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet">
</head>

<body id="grad" onload="editData()">
<center class="container">
	<div>
    <div class="row">
		    <div class="col-md-4 image-instr"><img src="/images/kehonkoostumus.png"></div>
        <div class="col-md-8">
          <ol>
            <li>Ota kengät ja sukat pois.</li>
            <li>Astu laitteelle ensimmäisen kuvan osoittamalla tavalla.</li>
            <li>Odota, että laite suorittaa punnituksen.</li>
            <li>Kun laitteen näytössä lukee "GRIP ON", tartu kapuloihin.</li>
            <li>Laske kädet sivulle ja odota, että laite suorittaa mittaukset.</li>
            <li>Kun laitteen näytössä lukee "GRIP OFF", laita kapulat takaisin telineisiin.</li>
            <li>Astu pois laiteelta.</li>
            <li>Tulosten analysoinnissa kestää noin 5 sekuntia.</li>
         </ol>
       </div>
    </div>
	</div>
</center>

<script src="/js/inProcessPoster.js"></script>

<link rel="stylesheet" href="/css/inProcessPoster.css">
</body>
</html>
