<!DOCTYPE html>

<html>

<head>
  <title>Measuring Device Instructions</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/UIstyle.css">
  <link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
  <link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet">
</head>

<body id="grad" onload="editData()">
  <center class="container">
    <div>
      <div class="row">
        <div class="col-md-4 image-instr"><img src="/images/kehonkoostumus.png"></div>
        <div class="col-md-8">
          <ol>
            <li>Remove your shoes and socks</li>
            <li>Step on the device, like shown on first picture</li>
            <li>Wait, for the device to finish weighing</li>
            <li>When the device tells you to "GRIP ON", grip on the handles </li>
            <li>Put down your hands and wait. The device is performing the measuring.</li>
            <li>When the device tells you to "GRIP OFF", put the handles back to their slots.</li>
            <li>Step off the device</li>
            <li>Analyzing results, this takes appr. 5 seconds.</li>
          </ol>
        </div>
      </div>
    </div>
  </center>
  <script src="/js/inProcessPoster.js"></script>

  <link rel="stylesheet" href="/css/inProcessPoster.css">
</body>

</html>