<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Mittauskuutio!</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
    <link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet">
  </head>
  <body id="grad">
    <div class="jumbotron">
      <h1>Tervetuloa Mittauskuutioon!</h1>
      <h3>Ole hyvä ja seuraa kosketusnäytön ohjeita.</h3>
  </div>
  </body>

<link rel="stylesheet" href="/css/poster.css">
</html>
