<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
	<link href="/css/styles.css" rel="stylesheet">
	<link href="/css/results.css" rel="stylesheet">
	<link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
	<link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet">
</head>

<body id="grad">
	<div class="jumbotron">
        <h1 class="text-center" style="font-size: 5.5em; margin: 20px 0px 20px 0px; color: black;">Tulokset</h1>
	</div>
	<div class="gridWrapper">
		<!-- Results are appended into these divs in results.js -->
		<div class="header2" id="resultsHeader">
			<button id="basicsButton" type="button" onclick="resultSelector('basic')">Show basic results</button>
			<button id="extensivesButton" type="button" onclick="resultSelector('extensive')">Show extensive results</button>
			<button id="limbsButton" type="button" onclick="resultSelector('limbs')">Show limb data</button>
		<!--	Result header is printed here in results.js
				Data such as date, time and gender -->
		</div>
		
		<div class="sideMarginLeft"></div>	<!-- Margin on the left side of results -->
		
		<div id="results">
				<!-- Do not add any elements in here manually
						All elements are cleared when the results are printed -->		
		</div>
		
		<div class="sideMarginRight"></div> <!-- Margin on the right side of results -->
		
		<div class="exitArea">
			<form id="email" action="sendEmail" method="POST">
				<button type="submit">Sähköposti</button>
			</form>
			<button id="exitButton" type="button" onclick="goHome()">Exit</button>
		</div>
	</div>


<!-- Modal definition start -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p class="detail"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal definition end -->

<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/jquery-ui/jquery-ui.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Metro-UI-CSS-master/build/js/metro.js"></script>
<script src="/js/script.js"></script>
<script data-language=<%= lang %> src="/js/results.js"></script>

</body>

</html>
 