<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
	<link href="/css/styles.css" rel="stylesheet">
	<link href="/css/results_new_gridlayout.css" rel="stylesheet">
	<link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
	<link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet">
</head>

<body id="grad">
	<div class="jumbotron">
        <h1 class="text-center">Tulokset</h1>
	</div>
	<div class="gridWrapper">
		<!-- Results are appended into these divs in results.js -->
		<div class="header2" id="resultsHeader">
			<button id="basicsButton" type="button" onclick="resultSelector('basic')">Show basic results</button>
			<button id="extensivesButton" type="button" onclick="resultSelector('extensive')">Show extensive results</button>
			<button id="limbsButton" type="button">Show limb data</button>	<!-- FUNCTIONALITY NOT IMPLEMENTED YET -->
		<!--	Result header is printed here in results.js
				Data such as date, time and gender -->
		</div>
		<div class="sideMarginLeft"></div>	<!-- Margin on the left side of results -->
		<div id="results">
			<!-- Do not add any elements in here manually
				All elements are cleared when the results are printed -->
		</div>
		<div class="sideMarginRight"></div> <!-- Margin on the right side of results -->
		<div class="exitArea">
				<button id="exitButton" type="button">Exit</button>
			</div>
		<div id="bodyPictures" style="display: none">
				<img src="/images/man_shadow4.png" alt="Body">
				<img src="/images/Female_shadow3.png" alt="FBody">
		</div>
		<div class="sideMargin"></br></div> <!-- Margin on the right side of images -->
	</div>
	<script src="/js/results.js"></script>
	
</body>

</html>
<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/jquery-ui/jquery-ui.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Metro-UI-CSS-master/build/js/metro.js"></script>
<script src="/js/script.js"></script>

<script>if (window.module) module = window.module;</script>


 