<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
	<link href="/css/styles.css" rel="stylesheet">
	<link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
	<link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet">
</head>

<body id="grad">
	<div class="jumbotron">
		<h1 class="text-center" style="font-size: 5.5em; margin: 30px 0px 30px 0px; color: black;">Results</h1>
	</div>

<div class="tile-area">
	<div class="tile-container">
		<div class="tile-square bg-yellow" id="BMR" data-role="tile"></div>
		<div class="tile-square bg-red" id="fatPercent" data-role="tile"></div>
		<div class="tile-large bg-blue" id="viskFat" data-role="tile"></div>
	</div>
	<div class="tile-container">
		<div class="tile-large bg-green" id="metAge" data-role="tile"></div>
		<div class="tile-square bg-orange" id="BMI" data-role="tile"></div>
		<div class="tile-square bg-violet" id="weight" data-role="tile"></div>
	</div>
	<h1>Results will be shown for 15 seconds</h1>
</div>
</div>
</body>
</html>

<script src="/js/results.js"></script>

<script>setTimeout(function(){window.location.href='/finishedPoster'},15500);</script>
<link href="/css/results.css" rel="stylesheet">



<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/jquery-ui/jquery-ui.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Metro-UI-CSS-master/build/js/metro.js"></script>
<script src="/js/script.js"></script>

<script>if (window.module) module = window.module;</script>
