.jumbotron {
    background-color: rgba(255, 255, 255, 0.4);
    color: #51514E;
    border-bottom: 5px solid #3C4145;
    font-weight: bold;
    width: 100%;
}

.userData {
    text-align: center;
    width: 30%;
}

.userData .row {
    text-align: center;
}

#sendData,
#cancel {
    width: 100%;
    height: 60px;
    font-size: 14px;
    color: #fff;
    margin-left: 40%;
}

#cancel {
    margin-right: 30%;
    margin-left: 0;
    padding-top: 5%;
}

#sendData {
    margin-top: 0px;
    padding: 0px;
}

.mif-chevron-thin-left,
.mif-chevron-thin-right {
    font-size: 25px;
}

#age,
#height {
    height: 80px;
}

.input-control.text {
    width: 100%;
    margin-top: 15%;
    font-size: 20px;
}

.button {
    width: 49.5%;
    margin-top: 3%;
    height: 80px;
}

.group-of-buttons {
    height: 80px;
    margin-top: 15%;
    width: 100%;
}

.group-of-buttons .button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.group-of-buttons .button.active,
.group-of-buttons .toolbar-button.active {
    background-color: #F3E24F;
    color: #000;
    box-shadow: none;
}

.gender .button {
    height: 70px;
}

.keypad {
    position: relative !important;
}

.keypad .key {
    width: 70px;
    height: 70px;
}

.next {
    background: none;
    border: none;
    margin: 0px;
}

.input-control.required input {
    border: none;
}

#infoBox {
    position: absolute;
    bottom: 100px;
    left: 100px;
}
