.yellowButton {
    font-weight: bold; margin: 170px 0px 0px 0px;
    width: 250px;
    height: 160px;
    font-size: 2em;
    background-color: #F3E24F; color: #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    border: none;
}
#homepage {
    margin-right: 70px;
}
#homepage a {
    color: #000;
}