.gridWrapper 
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.sideMarginLeft
{
    grid-column: 1;
    grid-row: 1 / -1;
}

.sideMarginRight
{
    grid-column: 5;
    grid-row: 1 / -1;
}

#basicsButton, #extensivesButton, #limbsButton 
{
    width: 31%;
    margin: 1%;
    display: inline-block;
    text-align: center;
    padding: 1%;
    font: bold;
    border-radius: 12px;
    font-size: 1.2em;
}

#resultsHeader
{
    grid-column: 2 / -1;
    grid-row: 1;
    padding: 1.5%;
    text-align: center;
    align-content: center;
}

#results, #limbs, #extensive
{
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

#results p, #limbs p, #extensive p {
    width: 31.7%; 
    display: inline-block; 
    background-color: rgb(255, 235, 122);
    border: thick solid peru;
    text-align: center; 
    padding: 0.8%;
    margin: 0.8%;
    font-size: 1.2em;
    border-radius: 15px;
}


.header2 p {
    display: inline-block;
    background-color: lightblue;
    border: thick solid turquoise;
    text-align: center; 
    padding: 0.8%;
    margin: 1%;
    font-size: 1.5em;
    font: bold;
    border-radius: 15px;
}

.exitArea
{
    grid-column: -1;
    grid-row: 3 / 4;
}

#exitButton
{
    display: inline-block;
    padding: 3%;
    border-radius: 15px;
    text-align: center;
    width: 50%;
    margin-left: 10%;
    font-size: 1.2em;
}
